In [1]:
import pandas as pd

In [2]:
flights = pd.read_csv("flights.csv")

In [3]:
codes = pd.read_csv("airport-codes.csv")

In [4]:
flights.head()

                           airport code                    airlines
0  Abu Dhabi, United Arab Emirates  AUH              Etihad Airways
1                     Accra, Ghana  ACC                       Delta
2                    Amman, Jordan  AMM  Alia-(The) Royal Jordanian
3           Amsterdam, Netherlands  AMS                  Klm, Delta
4                     Aruba, Aruba  AUA              Delta, JetBlue

In [5]:
codes.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [8]:
# Create lat/lon columns
codes[['longitude', 'latitude']] = codes.coordinates.str.extract('(.*), (.*)')

In [9]:
codes.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates,longitude,latitude
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125",-74.93360137939453,40.07080078125
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022",-101.473911,38.704022
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968",-151.695999146,59.94919968
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172",-86.77030181884766,34.86479949951172
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087",-91.254898,35.6087

In [10]:
# Keep the ones for our flights
subset = codes[codes.iata_code.isin(flights.code)]

In [11]:
# Clean up closed and duplicated airports
subset = subset[subset.type != 'closed']
subset.drop_duplicates(subset='iata_code', inplace=True)

In [13]:
subset.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates,longitude,latitude
12253,BIKF,large_airport,Keflavik International Airport,171.0,EU,IS,IS-2,Reykjavík,BIKF,KEF,NaN,"-22.605600357056, 63.985000610352",-22.605600357056,63.985000610352
14995,CMN,large_airport,CMN,NaN,AF,MA,MA-CAS,NaN,NaN,CMN,NaN,"0, 0",0,0
16438,CYUL,large_airport,Montreal / Pierre Elliott Trudeau Internationa...,118.0,NaN,CA,CA-QC,Montréal,CYUL,YUL,YUL,"-73.7407989502, 45.4706001282",-73.7407989502,45.4706001282
16452,CYVR,large_airport,Vancouver International Airport,14.0,NaN,CA,CA-BC,Vancouver,CYVR,YVR,NaN,"-123.183998108, 49.193901062",-123.183998108,49.193901062
16485,CYYC,large_airport,Calgary International Airport,3557.0,NaN,CA,CA-AB,Calgary,CYYC,YYC,NaN,"-114.019996643, 51.113899231",-114.019996643,51.113899231